title: Easy Site Verification
link: http://vandersluijs.nl/blog/2010/02/easy-site-verification.html
author: tvdsluijs
description: 
post_id: 330
created: 2010/02/04 12:52:00
created_gmt: 2010/02/04 12:52:00
comment_status: open
post_name: easy-site-verification
status: publish
post_type: post

# Easy Site Verification

This plugin will allow you to easily verify your Joomla! website with Google Webmaster Tools, Bing Webmaster Tools and Yahoo! SiteExplorer.  
  
Now you can easily verify your website for Google, Bing and Yahoo!.  
  
No need to change your template or use multiple plugins.  
  
This one does all !  
  
See the source code (right mouse click -> source) our demo site <http://demos.gebruikmaar.nl/joomla/> to see what it puts into the source code.  
  
Look for the verify lines in the meta data, then change the template to another and you will see that the code stays intact.  
  
_**Joomla! 1.5 , 1.6, 1.7 and 2.5 ready!**_  
  
Well... you can find the sources on [Github](https://github.com/tvdsluijs/Joomla-Easy-Site-Verification/tree/)  
  
Like my code ? Don't forget to  
  
![](https://www.paypalobjects.com/en_US/i/scr/pixel.gif)