title: Easy Joomla! Site Verification
link: http://vandersluijs.nl/blog/2009/10/easy-joomla-site-verification.html
author: tvdsluijs
description: 
post_id: 374
created: 2009/10/28 07:00:00
created_gmt: 2009/10/28 07:00:00
comment_status: open
post_name: easy-joomla-site-verification
status: publish
post_type: post

# Easy Joomla! Site Verification

This plugin will allow you to easily verify your Joomla! website with Google Webmaster Tools, Bing Webmaster Tools and Yahoo! SiteExplorer.  
  
Now you can easily verify your website for Google, Bing and Yahoo!.  
  
No need to change your template or use multiple plugins.  
  
   
  
This one does all !  
  
See the source code (right mouse click -> source) our demo site <http://demos.gebruikmaar.nl/joomla/> to see what it puts into the source code.  
  
Look for the verify lines in the meta data, then change the template to another and you will see that the code stays intact.  
  
You know what the best part is of this plugin ? It s comes real  cheap !  
  
[You can download it here.](http://www.iamboredsoiblog.eu/download-page/joomla-extensions/easy-site-verification/)